In [2]:
import pandas as pd
import numpy as np
import sklearn as sk

In [3]:
df=pd.read_csv(r"C:\Users\monst\Desktop\Food_Delivery_01\data\curated\orders_clean.csv")

In [5]:
df.head()

,order_id,name,amenity,cuisine,place,lat,lon
0,1431156028,Citco Cafe,restaurant,unknown,unknown,30.750353,76.787520
1,1819752762,Student Centre,fast_food,regional,unknown,30.762265,76.769824
2,2434546249,Domino's,fast_food,pizza,Chandigarh,30.740520,76.797231
3,2434552646,KFC,fast_food,chicken,Chandigarh,30.739961,76.792042
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,30.754707,76.769886

In [8]:
CITY_CENTER_LAT = 30.7333
CITY_CENTER_LON = 76.7794

df["customer_lat"]=CITY_CENTER_LAT
df["customer_lan"]=CITY_CENTER_LON
df.head()

,order_id,name,amenity,cuisine,place,lat,lon,customer_lat,customer_lan
0,1431156028,Citco Cafe,restaurant,unknown,unknown,30.750353,76.787520,30.7333,76.7794
1,1819752762,Student Centre,fast_food,regional,unknown,30.762265,76.769824,30.7333,76.7794
2,2434546249,Domino's,fast_food,pizza,Chandigarh,30.740520,76.797231,30.7333,76.7794
3,2434552646,KFC,fast_food,chicken,Chandigarh,30.739961,76.792042,30.7333,76.7794
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,30.754707,76.769886,30.7333,76.7794

In [ ]:
from math import radians, cos, sin, asin, sqrt

In [11]:
def haversine(lat1, lon1, lat2, lon2):
    R = 6371  # Earth radius in km
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1

    a = np.sin(dlat / 2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon / 2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    return R * c

In [13]:
df["distance"]= haversine(
    df["lat"],df["lon"],df["customer_lat"],df["customer_lan"]
)

In [ ]:

df.to_csv(r"C:\Users\monst\Desktop\Food_Delivery_01\data\curated\orders_featured.csv",index=False)

In [17]:
df.head(20)

,order_id,name,amenity,cuisine,place,lat,lon,customer_lat,customer_lan,distance
0,1431156028,Citco Cafe,restaurant,unknown,unknown,30.750353,76.787520,30.7333,76.7794,2.048854
1,1819752762,Student Centre,fast_food,regional,unknown,30.762265,76.769824,30.7333,76.7794,3.348248
2,2434546249,Domino's,fast_food,pizza,Chandigarh,30.740520,76.797231,30.7333,76.7794,1.883839
3,2434552646,KFC,fast_food,chicken,Chandigarh,30.739961,76.792042,30.7333,76.7794,1.417270
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,30.754707,76.769886,30.7333,76.7794,2.548125
5,2623402079,Gopal's,restaurant,unknown,unknown,30.754152,76.770394,30.7333,76.7794,2.473209
6,2623402294,La Pinoz,cafe,unknown,unknown,30.754360,76.770217,30.7333,76.7794,2.500826
7,2623403244,Talwar,restaurant,unknown,unknown,30.754209,76.770338,30.7333,76.7794,2.481033
8,2623403423,Domino's,fast_food,pizza,Chandigarh,30.751947,76.772155,30.7333,76.7794,2.185989
9,3185953504,1113;5 Yesss,fast_food,unknown,unknown,30.757182,76.774812,30.7333,76.7794,2.691511
10,3476116193,Roll corner,restaurant,fast_food,unknown,30.753768,76.770332,30.7333,76.7794,2.435328
11,3595994933,Backpackers Cafe,restaurant,international,unknown,30.704872,76.800827,30.7333,76.7794,3.766607
12,4214695189,Old Pal Dhaba,restaurant,unknown,unknown,30.719507,76.801604,30.7333,76.7794,2.618571
13,4214699191,Virgin Courtyard,restaurant,unknown,unknown,30.734757,76.797435,30.7333,76.7794,1.731330
14,4214699590,"Aja Fresh, Grilled & Healthy",restaurant,unknown,unknown,30.760893,76.782019,30.7333,76.7794,3.078393
15,4239105393,Circo Cafe,fast_food,unknown,unknown,30.752328,76.808340,30.7333,76.7794,3.482247
16,4239347391,Backpackers,restaurant,breakfast;american;indian,unknown,30.747649,76.793139,30.7333,76.7794,2.066417
17,4355006792,Noor Restaurant,restaurant,unknown,unknown,30.739619,76.774996,30.7333,76.7794,0.819076
18,4366033789,Shree Rathnan,restaurant,unknown,unknown,30.737769,76.783335,30.7333,76.7794,0.623238
19,4378872592,Chilli Chaats,fast_food,unknown,unknown,30.722199,76.760393,30.7333,76.7794,2.196398