In [ ]:
import pandas as pd
import numpy as np


df=pd.read_csv(r"C:\Users\monst\Desktop\Food_delivery_pipeline_01\data\curated\orders_featured.csv")

In [4]:
df.head()

,order_id,name,amenity,cuisine,place,lat,lon,customer_lat,customer_lan,distance
0,1431156028,Citco Cafe,restaurant,unknown,unknown,30.750353,76.787520,30.7333,76.7794,2.048854
1,1819752762,Student Centre,fast_food,regional,unknown,30.762265,76.769824,30.7333,76.7794,3.348248
2,2434546249,Domino's,fast_food,pizza,Chandigarh,30.740520,76.797231,30.7333,76.7794,1.883839
3,2434552646,KFC,fast_food,chicken,Chandigarh,30.739961,76.792042,30.7333,76.7794,1.417270
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,30.754707,76.769886,30.7333,76.7794,2.548125

In [7]:
df.head()

,order_id,name,amenity,cuisine,place,lat,lon,customer_lat,customer_lan,distance
0,1431156028,Citco Cafe,restaurant,unknown,unknown,30.750353,76.787520,30.7333,76.7794,2.048854
1,1819752762,Student Centre,fast_food,regional,unknown,30.762265,76.769824,30.7333,76.7794,3.348248
2,2434546249,Domino's,fast_food,pizza,Chandigarh,30.740520,76.797231,30.7333,76.7794,1.883839
3,2434552646,KFC,fast_food,chicken,Chandigarh,30.739961,76.792042,30.7333,76.7794,1.417270
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,30.754707,76.769886,30.7333,76.7794,2.548125