In [7]:
import pandas as pd
import numpy as np
from pathlib import Path
import sklearn

df =pd.read_csv(r"C:\Users\monst\Desktop\Food_delivery_pipeline_01\data\processed\orders_20251218_225213.csv")

In [8]:
df.head()

,order_id,name,amenity,cuisine,place,order_type,lat,lon
0,1431156028,Citco Cafe,restaurant,NaN,NaN,node,30.750353,76.787520
1,1819752762,Student Centre,fast_food,regional,NaN,node,30.762265,76.769824
2,2434546249,Domino's,fast_food,pizza,Chandigarh,node,30.740520,76.797231
3,2434552646,KFC,fast_food,chicken,Chandigarh,node,30.739961,76.792042
4,2623400919,Pizza Hut,restaurant,pizza,Chandigarh,node,30.754707,76.769886

In [9]:
df.isna().sum()

order_id       0
name           0
amenity        0
cuisine       49
place         62
order_type     0
lat            0
lon            0
dtype: int64

In [22]:
df=df.dropna(subset=["name","lat","lon"])

fill null cuisine with "unknown"

In [27]:
df["cuisine"]=df["cuisine"].fillna("unknown")

lower the letter to avoid any explosion

In [29]:
df["cuisine"]=df["cuisine"].str.lower().str.strip()

droping duplicate rows have same restaurant and same places

In [34]:
df= df.drop_duplicates(subset=["name","lat","lon"])

handling type -> its common

In [38]:
# df=df.drop(columns=["order_type"]) done ones

In [55]:
df["place"]=df["place"].fillna("unknown")